.common-text-field {
    -fx-prompt-text-fill: #484844;
    -fx-background-color: #cedecf;
    -fx-background-radius: 12;
    -fx-border-radius: 12;
    -fx-font-family: "Montserrat Regular";
    -fx-font-size: 16.0;
    -fx-padding: 0 0 0 16.0; /* Top, Right, Bottom, Left */
}